<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>InicioSesion</servlet-name>
        <servlet-class>controlador.InicioSesion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegistroUsuario</servlet-name>
        <servlet-class>controlador.RegistroUsuario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Perfil</servlet-name>
        <servlet-class>controlador.Perfil</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegistroEmpresario</servlet-name>
        <servlet-class>controlador.RegistroEmpresario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InicioSesionEmpresario</servlet-name>
        <servlet-class>controlador.InicioSesionEmpresario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CargaSalas</servlet-name>
        <servlet-class>controlador.Inicio</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ImagenSala</servlet-name>
        <servlet-class>controlador.ImagenSala</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CargaImagenes</servlet-name>
        <servlet-class>controlador.CargaImagenes</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ImagenUsuario</servlet-name>
        <servlet-class>controlador.ImagenUsuario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CargaSala</servlet-name>
        <servlet-class>controlador.CargaSala</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FiltraSalas</servlet-name>
        <servlet-class>controlador.FiltraSalas</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CargaEmpresario</servlet-name>
        <servlet-class>controlador.CargaEmpresario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ValoracionesPerfil</servlet-name>
        <servlet-class>controlador.CargaPerfil</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CerrarSesion</servlet-name>
        <servlet-class>controlador.CerrarSesion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReservasPerfil</servlet-name>
        <servlet-class>controlador.ReservasPerfil</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RealizarReserva</servlet-name>
        <servlet-class>controlador.RealizarReserva</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ImagenEmpresario</servlet-name>
        <servlet-class>controlador.ImagenEmpresario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddValoracion</servlet-name>
        <servlet-class>controlador.AddValoracion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddSala</servlet-name>
        <servlet-class>controlador.AddSala</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>InicioSesion</servlet-name>
        <url-pattern>/InicioSesion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegistroUsuario</servlet-name>
        <url-pattern>/RegistroUsuario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Perfil</servlet-name>
        <url-pattern>/Perfil</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegistroEmpresario</servlet-name>
        <url-pattern>/RegistroEmpresario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InicioSesionEmpresario</servlet-name>
        <url-pattern>/InicioSesionEmpresario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CargaSalas</servlet-name>
        <url-pattern>/CargaSalas</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ImagenSala</servlet-name>
        <url-pattern>/ImagenSala</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CargaImagenes</servlet-name>
        <url-pattern>/CargaImagenes</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ImagenUsuario</servlet-name>
        <url-pattern>/ImagenUsuario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CargaSala</servlet-name>
        <url-pattern>/CargaSala</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FiltraSalas</servlet-name>
        <url-pattern>/FiltraSalas</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CargaEmpresario</servlet-name>
        <url-pattern>/CargaEmpresario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ValoracionesPerfil</servlet-name>
        <url-pattern>/ValoracionesPerfil</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CerrarSesion</servlet-name>
        <url-pattern>/CerrarSesion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReservasPerfil</servlet-name>
        <url-pattern>/ReservasPerfil</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RealizarReserva</servlet-name>
        <url-pattern>/RealizarReserva</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ImagenEmpresario</servlet-name>
        <url-pattern>/ImagenEmpresario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddValoracion</servlet-name>
        <url-pattern>/AddValoracion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddSala</servlet-name>
        <url-pattern>/AddSala</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>CargaSalas</welcome-file>
    </welcome-file-list>
</web-app>
